absl-py==2.2.2
agentUniverse==0.0.17
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.9
aiohttp-retry==2.9.1
aiolimiter==1.2.1
aiosignal==1.3.2
aiosqlite==0.20.0
airportsdata==20250224
alabaster==0.7.16
ale-py==0.11.1
alembic==1.15.2
altair==4.2.2
altgraph==0.17.4
annotated-types==0.7.0
ansicon==1.89.0
anthropic==0.26.1
anyio==4.9.0
anywidget==0.9.18
apify_shared==1.3.2
appdirs==1.4.4
argcomplete==3.6.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
astor==0.8.1
astroid==3.3.10
asttokens==3.0.0
async-lru==2.0.5
asyncio==3.4.3
asyncio-throttle==1.0.2
attrs==25.3.0
Authlib==1.6.0
# Editable install with no version control (autoagent==0.1.0)
-e c:\users\panos\onedrive\υπολογιστής\autoagent
Automat==25.4.16
autopep8==2.3.2
av==14.2.0
azure-common==1.1.28
babel==2.17.0
backoff==2.2.1
bandit==1.8.3
banks==2.1.2
bce-python-sdk==0.9.35
bcrypt==4.3.0
beartype==0.12.0
beautifulsoup4==4.13.3
better-exceptions==0.3.3
bibtexparser==1.4.3
bidict==0.23.1
biopython==1.85
black==25.1.0
bleach==6.2.0
blessed==1.20.0
blinker==1.9.0
blis==1.2.1
boto3==1.38.12
botocore==1.38.12
# Editable install with no version control (browser-use==0.1.40)
-e c:\users\panos\onedrive\υπολογιστής\projects\browser-use
browsergym==0.13.0
browsergym-assistantbench==0.13.0
browsergym-core==0.13.0
browsergym-experiments==0.13.0
browsergym-miniwob==0.13.0
browsergym-visualwebarena==0.13.0
browsergym-webarena==0.13.0
browsergym-workarena==0.4.1
build==1.2.2.post1
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.4.26
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.1
chroma-hnswlib==0.7.3
chromadb==0.4.24
click==8.1.8
cloudpathlib==0.21.1
cloudpickle==3.1.1
cmdstanpy==1.2.5
cobble==0.1.4
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
comm==0.2.2
confection==0.1.5
constantly==23.10.4
contourpy==1.3.1
coverage==7.7.1
Crawl4AI==0.5.0.post8
cryptography==44.0.2
cssselect==1.3.0
ctranslate2==4.5.0
currency-symbols==2.0.3
cycler==0.12.1
cymem==2.0.11
dacite==1.9.2
dashscope==1.23.4
dataclasses-json==0.6.7
datacommons==1.4.3
datasets==2.14.7
dateutils==0.6.12
daytona_api_client==0.18.1
daytona_sdk==0.17.0
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
dependency-groups==1.3.1
Deprecated==1.2.18
deprecation==2.1.0
# Editable install with no version control (digital-twin-t1d==0.1.0)
-e c:\users\panos\onedrive\υπολογιστής\digitaltwintd1
dill==0.3.7
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
docling==2.25.1
docling-core==2.21.1
docling-ibm-models==3.4.1
docling-parse==3.4.0
docstring-parser==0.15
docutils==0.20.1
docx==0.2.4
docx2txt==0.8
dotenv==0.9.9
dparse==0.6.4
dspy-ai==2.4.9
duckdb==1.0.0
duckduckgo_search==6.3.5
durationpy==0.9
e2b==1.4.0
e2b-code-interpreter==1.5.0
easyocr==1.7.2
editor==1.6.6
emoji==2.14.1
english-words==2.0.1
entrypoints==0.4
environs==9.5.0
et_xmlfile==2.0.0
eval_type_backport==0.2.2
evaluate==0.4.3
eventlet==0.39.1
exa-py==1.12.1
execnet==2.1.1
executing==2.2.0
factory_boy==3.3.3
faiss-cpu==1.11.0
fake-http-header==0.3.5
fake-useragent==2.1.0
Faker==36.1.1
fancycompleter==0.11.0
Farama-Notifications==0.0.4
fastapi==0.115.12
fastavro==1.10.0
faster-whisper==1.1.1
fastjsonschema==2.21.1
faust-cchardet==2.1.19
feedparser==6.0.11
ffmpeg-python==0.2.0
ffmpy==0.5.0
filelock==3.18.0
filetype==1.2.0
flake8==7.2.0
Flask==3.1.0
Flask-Bcrypt==1.0.1
flask-cors==5.0.1
Flask-JWT-Extended==4.7.1
Flask-Principal==0.4.0
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.0.3
flatbuffers==25.2.10
fonttools==4.56.0
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.6.2
fsspec==2023.10.0
future==1.0.0
fuzzywuzzy==0.18.0
genson==1.3.0
geojson==2.5.0
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.38.0
google-crc32c==1.7.1
googleapis-common-protos==1.68.0
gotrue==2.12.0
gradio==3.23.0
gradio_client==1.10.0
greenlet==3.2.1
griffe==1.7.3
groovy==0.1.2
groq==0.8.0
grpcio==1.63.0
gunicorn==22.0.0
gw_dsl_parser==0.1.49.1
gymnasium==1.1.0
h11==0.16.0
h2==4.2.0
holidays==0.73
hpack==4.1.0
html2text==2024.2.26
html5lib==1.1
htmlmin==0.1.12
httpcore==1.0.9
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.32.4
humanfriendly==10.0
humanize==4.12.2
hyperframe==6.1.0
hyperlink==21.0.0
id==1.5.0
identify==2.6.8
idna==3.10
ImageHash==4.3.1
imageio==2.37.0
imageio-ffmpeg==0.6.0
imagesize==1.4.1
immutabledict==4.2.1
importlib_metadata==8.4.0
importlib_resources==6.5.2
incremental==24.7.2
iniconfig==2.0.0
inquirer==3.4.0
instructor==1.7.2
interegular==0.3.3
ipdb==0.13.13
ipykernel==6.29.5
ipylab==1.0.0
ipython==9.2.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
iso3166==2.1.1
isodate==0.7.2
isoduration==20.11.0
isort==6.0.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jieba==0.42.1
jieba3k==0.35.1
Jinja2==3.1.6
jinxed==1.3.0
jiter==0.8.2
jmespath==1.0.1
joblib==1.3.2
json5==0.12.0
jsonlines==3.1.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kaleido==0.2.1
kanaries_track==0.0.5
keyring==25.6.0
kiwisolver==1.4.8
kubernetes==32.0.1
langchain==0.2.1
langchain-anthropic==0.1.13
langchain-community==0.0.38
langchain-core==0.2.43
langchain-deepseek==0.1.3
langchain-ollama==0.2.2
langchain-openai==0.3.21
langchain-text-splitters==0.2.4
langcodes==3.5.0
langdetect==1.0.9
langgraph==0.4.7
langgraph-checkpoint==2.0.26
langgraph-prebuilt==0.2.2
langgraph-sdk==0.1.70
langsmith==0.1.147
language_data==1.3.0
lark==1.2.2
latex2mathml==3.77.0
lazy-object-proxy==1.10.0
lazy_loader==0.4
Levenshtein==0.27.1
libvisualwebarena==0.0.14
libwebarena==0.0.3
line_profiler==4.2.0
linkify-it-py==2.0.3
litellm==1.66.2
llama-cloud==0.0.6
llama-index==0.10.53
llama-index-agent-openai==0.2.9
llama-index-cli==0.1.13
llama-index-core==0.12.40
llama-index-embeddings-huggingface==0.5.4
llama-index-embeddings-openai==0.1.11
llama-index-indices-managed-llama-cloud==0.2.4
llama-index-legacy==0.9.48.post4
llama-index-llms-openai==0.1.26
llama-index-multi-modal-llms-openai==0.1.9
llama-index-program-openai==0.1.6
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.33
llama-index-readers-llama-parse==0.1.6
llama-parse==0.4.9
llvmlite==0.44.0
loguru==0.7.2
lux-api==0.5.1
lux-widget==0.1.11
lxml==5.3.1
magent-ui==0.1.17
Mako==1.3.10
mammoth==1.9.0
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
markdownify==0.14.1
marko==2.1.2
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.3
matplotlib-inline==0.1.7
mccabe==0.7.0
mcp==1.9.3
mdit-py-plugins==0.4.2
mdurl==0.1.2
memory-profiler==0.61.0
mistune==3.1.3
mmh3==5.1.0
mock==5.2.0
monotonic==1.6
more-itertools==10.6.0
MouseInfo==0.1.3
moviepy==2.1.2
mpire==2.10.2
mpmath==1.3.0
multidict==6.4.4
multimethod==1.12
multiprocess==0.70.15
murmurhash==1.0.13
mypy==1.15.0
mypy_extensions==1.1.0
myst-parser==2.0.0
narwhals==1.32.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
neo4j==5.28.1
nest-asyncio==1.6.0
networkx==3.5
nh3==0.2.21
ninja==1.11.1.3
nltk==3.9.1
nodeenv==1.9.1
notebook==7.4.2
notebook_shim==0.2.4
nox==2025.5.1
numba==0.61.0
numpy==1.26.4
oauthlib==3.2.2
olefile==0.47
ollama==0.2.1
onnxruntime==1.20.1
openai==1.13.3
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
# Editable install with no version control (openevolve==0.0.1)
-e c:\users\panos\onedrive\υπολογιστής\digitaltwintd1\external\openevolve
openpyxl==3.1.5
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opentracing==2.4.0
optuna==4.3.0
orjson==3.10.15
ormsgpack==1.9.0
ortools==9.12.4544
outcome==1.3.0.post0
overrides==7.7.0
packaging==25.0
pandas==2.3.0
pandas-stubs==2.2.3.250308
pandocfilters==1.5.1
parso==0.8.4
pathable==0.4.4
pathspec==0.12.1
pathvalidate==3.2.1
patsy==1.0.1
pbr==6.1.1
pdbpp==0.11.6
pdfminer.six==20240706
pefile==2023.2.7
phik==0.12.4
pillow==11.2.1
pip-tools==7.4.1
platformdirs==4.3.6
playwright==1.51.0
plotly==6.1.2
pluggy==1.5.0
portalocker==2.10.1
postgrest==1.0.1
posthog==3.18.0
pre_commit==4.1.0
preshed==3.0.10
primp==0.6.5
prisma==0.15.0
proglog==0.1.10
prometheus_client==0.22.0
prompt_toolkit==3.0.51
propcache==0.3.1
prophet==1.1.6
proto-plus==1.26.1
protobuf==4.25.8
psutil==6.1.1
psycopg2-binary==2.9.10
psygnal==0.13.0
pulsar-client==3.7.0
pure_eval==0.2.3
puremagic==1.28
py-cpuinfo==9.0.0
py-spy==0.4.0
pyarrow==16.1.0
pyarrow-hotfix==0.7
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAutoGUI==0.9.54
pyclipper==1.3.0.post6
pycodestyle==2.13.0
pycountry==24.6.1
pycparser==2.22
pycryptodome==3.23.0
pycryptodomex==3.22.0
pydantic==2.11.7
pydantic-settings==2.8.1
pydantic_core==2.33.2
pydeck==0.9.1
pydub==0.25.1
pyee==12.1.1
pyflakes==3.3.2
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.1
pygwalker==0.4.9.15
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
PyJWT==2.10.1
pylint==3.3.7
pymongo==4.12.1
PyMsgBox==1.0.9
PyMuPDF==1.25.5
pyOpenSSL==25.0.0
pyparsing==3.2.1
pypdf==4.3.1
PyPDF2==3.0.1
pypdfium2==4.30.1
pyperclip==1.9.0
PyPika==0.48.9
pyproject-api==1.9.1
pyproject_hooks==1.2.0
pyreadline3==3.5.4
PyRect==0.2.0
pyrepl==0.11.3.post1
PyScreeze==1.0.1
PySocks==1.7.1
pytesseract==0.3.13
pytest==8.3.3
pytest-asyncio==0.24.0
pytest-benchmark==5.1.0
pytest-cov==6.1.1
pytest-mock==3.14.0
pytest-timeout==2.4.0
pytest-xdist==3.6.1
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.1.2
python-dotenv==1.1.0
python-engineio==4.12.0
python-iso639==2025.2.18
python-json-logger==3.3.0
python-Levenshtein==0.27.1
python-magic==0.4.27
python-multipart==0.0.20
python-pptx==0.6.23
python-ripgrep==0.0.6
python-socketio==5.13.0
pytweening==1.2.0
pytz==2025.2
PyWavelets==1.8.0
pywin32==308
pywin32-ctypes==0.2.3
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==26.3.0
qianfan==0.3.18
questionary==2.0.1
quickjs==1.19.4
rank-bm25==0.2.2
RapidFuzz==3.12.2
rdflib==7.1.4
readchar==4.2.1
readme_renderer==44.0
realtime==2.4.3
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
responses==0.25.7
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.9.4
roman-numerals-py==3.1.0
rouge==1.0.1
rpds-py==0.23.1
rsa==4.9
Rtree==1.3.0
ruamel.yaml==0.18.11
ruamel.yaml.clib==0.2.12
ruff==0.9.9
runs==1.2.2
s3transfer==0.12.0
safehttpx==0.1.6
safetensors==0.5.3
safety==3.5.1
safety-schemas==0.0.14
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.15.2
seaborn==0.13.2
segment-analytics-python==2.2.3
semantic-version==2.10.0
semchunk==2.2.2
Send2Trash==1.8.3
sentence-transformers==2.6.1
sentencepiece==0.2.0
setuptools==80.9.0
sgmllib3k==1.0.0
sh==2.2.2
shapely==2.0.7
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
slack_sdk==3.35.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.14.1
Sphinx==7.4.7
sphinx-autodoc-typehints==3.2.0
sphinx-copybutton==0.5.2
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.25
sqlglot==25.34.1
sqlglotrs==0.3.0
srsly==2.5.1
sse-starlette==2.3.6
stable_baselines3==2.6.0
stack-data==0.6.3
stanio==0.5.1
starlette==0.46.2
statsmodels==0.14.2
stem==1.8.2
stevedore==5.4.1
storage3==0.11.3
streamlit==1.36.0
streamlit-aggrid==1.1.5.post1
streamlit-agraph==0.0.45
streamlit-feedback==0.1.3
streamlit-mermaid==0.3.0
streamlit-option-menu==0.4.0
streamlit-quill==0.0.3
StrEnum==0.4.15
stripe==12.1.0
striprtf==0.0.26
structlog==25.3.0
supabase==2.15.1
supafunc==0.9.4
sympy==1.14.0
tabulate==0.9.0
tavily-python==0.7.2
tenacity==8.5.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
terminado==0.18.1
text-generation==0.7.0
tf-playwright-stealth==1.1.2
thinc==8.3.4
threadpoolctl==3.5.0
tifffile==2025.2.18
tiktoken==0.9.0
tinycss2==1.4.0
tinysegmenter==0.3
tk==0.1.0
tokenizers==0.19.1
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
toolz==1.0.0
torch==2.7.1
torchvision==0.21.0
tornado==6.4.2
tox==4.26.0
tqdm==4.67.1
traitlets==5.14.3
transformers==4.44.0
tree-sitter==0.23.2
tree-sitter-python==0.23.6
trio==0.29.0
twilio==9.5.2
twine==6.1.0
Twisted==24.11.0
typeguard==4.4.2
typer==0.12.5
types-colorama==0.4.15.20240311
types-mock==5.2.0.20250306
types-python-dateutil==2.9.0.20241206
types-pytz==2025.2.0.20250516
types-PyYAML==6.0.12.20250326
types-requests==2.32.0.20250301
types-setuptools==69.5.0.20240522
types-tqdm==4.67.0.20250301
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
uc-micro-py==1.0.3
ujson==5.10.0
Unidecode==1.4.0
update-checker==0.18.0
upstash-redis==1.3.0
uri-template==1.3.0
urllib3==2.4.0
uvicorn==0.23.2
virtualenv==20.31.2
visions==0.8.1
vncdotool==1.2.0
wasabi==1.1.3
wasmtime==33.0.0
watchdog==4.0.2
watchfiles==1.0.4
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.14
wikipedia==1.4.0
win32_setctime==1.2.0
winshell==0.6
wordcloud==1.9.4
wrapt==1.17.2
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.2.2
xmltodict==0.14.2
xmod==1.8.1
xxhash==3.5.0
yarl==1.20.0
ydata-profiling==4.16.1
youtube-transcript-api==0.6.3
yt-dlp==2024.12.23
zipp==3.21.0
zope.interface==7.2
zstandard==0.23.0
